[submodule "home/.vim/external/vim-pathogen"]
	path = home/.vim/external/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/yankring"]
	path = home/.vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "home/.vim/bundle/tailminusf"]
	path = home/.vim/bundle/tailminusf
	url = git://github.com/vim-scripts/TailMinusF.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/space"]
	path = home/.vim/bundle/space
	url = http://github.com/spiiph/vim-space.git
[submodule "home/.vim/bundle/scratch"]
	path = home/.vim/bundle/scratch
	url = http://github.com/vim-scripts/scratch.vim.git
[submodule "home/.vim/bundle/rvm"]
	path = home/.vim/bundle/rvm
	url = http://github.com/csexton/rvm.vim.git
[submodule "home/.vim/repeat"]
	path = home/.vim/bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/rake"]
	path = home/.vim/bundle/rake
	url = http://github.com/tpope/vim-rake.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/gist"]
	path = home/.vim/bundle/gist
	url = http://github.com/vim-scripts/Gist.vim.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/conque"]
	path = home/.vim/bundle/conque
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "home/.vim/bundle/commandT"]
	path = home/.vim/bundle/commandT
	url = http://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/camelcasemotion"]
	path = home/.vim/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "home/.vim/bundle/bufonly"]
	path = home/.vim/bundle/bufonly
	url = http://github.com/duff/vim-bufonly.git
[submodule "home/.vim/bundle/bufexplorer"]
	path = home/.vim/bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "home/.vim/bundle/asneeded"]
	path = home/.vim/bundle/asneeded
	url = git://github.com/vim-scripts/AsNeeded.git
[submodule "home/.vim/bundle/align"]
	path = home/.vim/bundle/align
	url = http://github.com/vim-scripts/Align.vim.git
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/vim-ragtag"]
	path = home/.vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "home/.vim/bundle/dbext"]
	path = home/.vim/bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim
[submodule "home/.vim/bundle/vim-ruby-debugger"]
	path = home/.vim/bundle/vim-ruby-debugger
	url = https://github.com/stephenprater/vim-ruby-debugger.git
[submodule "home/.vim/bundle/cocoa.vim"]
	path = home/.vim/bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/ansiesc"]
	path = home/.vim/bundle/ansiesc
	url = git://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "home/.vim/bundle/bclose"]
	path = home/.vim/bundle/bclose
	url = git://github.com/cespare/vim-bclose.git
[submodule "home/.vim/bundle/decho"]
	path = home/.vim/bundle/decho
	url = git://github.com/vim-scripts/Decho.git
[submodule "home/.vim/bundle/easytags"]
	path = home/.vim/bundle/easytags
	url = git://github.com/vim-scripts/easytags.vim.git
[submodule "home/.vim/bundle/fuzzyfinder"]
	path = home/.vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/minibufexpl"]
	path = home/.vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "home/.vim/bundle/mru"]
	path = home/.vim/bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "home/.vim/bundle/sessionman"]
	path = home/.vim/bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = git://github.com/stephenprater/taglist.vim.git
[submodule "home/.vim/bundle/srcexpl"]
	path = home/.vim/bundle/srcexpl
	url = git://github.com/vim-scripts/Source-Explorer-srcexpl.vim.git
[submodule "home/.vim/bundle/vim-l9"]
	path = home/.vim/bundle/vim-l9
	url = git://github.com/slack/vim-l9.git
[submodule "home/.vim/bundle/autoclose"]
	path = home/.vim/bundle/autoclose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "home/.vim/bundle/vim-slim"]
	path = home/.vim/bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "home/.vim/external/vim_pathogen"]
	path = home/.vim/external/vim_pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-shell"]
	path = home/.vim/bundle/vim-shell
	url = git://github.com/xolox/vim-shell
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "home/.vim/bundle/tslime"]
  path = home/.vim/bundle/tslime
  url = git://github.com/kikijump/tslime.vim.git
[submodule "home/.vim/bundle/vim-cucumber"]
	path = home/.vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular
